name: Docs

on:
  push:
    branches: ["main"]
  workflow_dispatch:
  workflow_call:

jobs:

  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Setup build environment
      uses: ./.github/actions/setup-build-env
      with:
        extra-pip-packages: formal-ford2vitepress

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Build documentation
      run: |
        formal generate --mirror-sources --diagrams --project docs/ford.md --output docs/api
        cd docs && npm ci && npm run docs:build

    - name: Upload pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: docs/.vitepress/dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
